<!DOCTYPE html>
<html>
    <head>
        <title>Styleguide Comparison</title>
        <link rel="stylesheet" type="text/css" href="/_styleguide/index.css">
        <style>
          html, body {
            margin: 0;
          }
        </style>
    </head>
    <body>
      <img class="StyleguideComparison-image" title="{{filename}}" width="{{width}}" height="{{height}}" src="./{{filename}}">
    </body>
</html>