<!DOCTYPE html>
<html>
    <head>
        <title>Styleguide{{#each names}}: {{this}}{{/each}}</title>

        <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon">

        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700">
        <link rel="stylesheet" type="text/css" href="/node_modules/normalize.css/normalize.css">
        <link rel="stylesheet" type="text/css" href="/styleguide.css">

        <script type="text/javascript" src="/node-modules/jquery/dist/jquery.min.js"></script>

        <script type="text/javascript" src="/node-modules/iframe-resizer/js/iframeResizer.min.js"></script>

        <script type="text/javascript">

            (function (window,undefined) {
                $(document).on('ready', function () {

                    $('.sg-file-body > iframe').iFrameResize({
                        log: false,
                        heightCalculationMethod: 'max',
                        autoResize: true,
                        scrolling: true,
                        {{#if example.exampleMinHeight}}
                          minHeight: {{example.exampleMinHeight}},
                        {{/if}}
                        {{#if example.exampleMaxHeight}}
                          maxHeight: {{example.exampleMaxHeight}},
                        {{/if}}
                        initCallback: function(iframe) {
                            $(iframe).contents().find('html', 'body', 'div').css('height', 'auto');
                        }
                    });

                    $('.sg-file').each(function () {
                        var $file = $(this);
                        var $name = $file.find('.sg-file-name');
                        var $form = $file.find('.sg-file-form');

                        $name.append($('<a/>', {
                            href: '#',
                            text: 'Edit',
                            class: 'sg-file-edit',
                            click: function () {
                                $file.toggleClass('sg-file--hide');
                                return false;
                            }
                        }));

                        var $message = $('<span/>', {
                            'class': 'sg-file-form-message'
                        });

                        $form.find('button').after($message);

                        $form.on('submit', function () {
                            $message.text('Saving...');

                            $.post('/save', $form.serialize()).

                                done(function (data) {
                                    $message.text('Saved successfully!');

                                    $form.closest('.sg-file').find('iframe').each(function () {
                                        this.contentWindow.location.reload();
                                    });
                                }).

                                fail(function () {
                                    $message.text('Unable to save ' + $form.find('input[name="path"]').val());
                                });

                            return false;
                        });

                    });

                    $('.sg-file-body').each(function () {
                        var $body = $(this);
                        var $devices = $body.find('> .sg-device');

                        if ($devices.length > 0) {
                            var width = 50;

                            $devices.each(function () {
                                width += $(this).outerWidth(true);
                            });

                            $body.outerWidth(width);
                        }
                    });

                });

            })();
        </script>

        {{> head}}
    </head>
    <body class="sg-content-embed">
        {{> content}}
    </body>
</html>
