{{#> layout}}
  {{#*inline 'head'}}{{/inline}}

  {{#*inline 'content'}}
    <table class="sg-less-variable-list">
      <thead>
        <tr>
          <th>Name</th>
          <th>Value</th>
          <th>Path</th>
        </tr>
      </thead>
      <tbody>
        {{#each lessVariables}}
          <tr class="sg-less-variable">
            <td>{{name}}</td>
            <td>{{value}}</td>
            <td>{{path}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{/inline}}
{{/layout}}
