<div class="sg-design-item color">
	<div class="sg-color-example" style="background-color:{{value}};"></div>
	<div class="sg-design-item-name">{{label}}</div>
	<div class="sg-design-item-value">{{value}}</div>
</div>
