<div class="sg-design-item">
    <div class="sg-icon-example"><span class="icon icon-{{label}}"></span></div>
    <div class="sg-design-item-name">{{label}}</div>
    <div class="sg-design-item-value">{{value}}</div>
</div>
